@page
@model Remote_Shutdown.Pages.ControlPanelModel
@{
    Layout = null;
    //var commandManagerService = (CommandManager.CommandManagerService)ViewData["CommandManager"];
    // https://www.mikesdotnetting.com/article/308/razor-pages-understanding-handler-methods
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ControlPanel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Control Panel</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Schedule shutdown</h3>
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <form asp-page-handler="ScheduleShutdown" method="post">
                            <div class="form-row">
                                <div class="col-md-4 p-2">
                                    <input type="number" name="hour" class="form-control" placeholder="Hour" min="0" max="23">
                                </div>
                                <div class="col-md-4 p-2">
                                    <input type="text" name="minute" class="form-control" placeholder="Minute" min="0" max="59">
                                </div>
                                <div class="col-md-4 p-2">
                                    <input type="submit" class="btn btn-success col-md-12" value="Schedule">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="row">
                            @{
                                if (Model.Scheduling > DateTime.Now && Model.Scheduling < DateTime.Now.AddDays(998))
                                {
                                    <form asp-page-handler="UnscheduleShutdown" method="post" class="col-md-12">
                                        <div class="row">
                                            @{
                                                var ano = Model.Scheduling.Year.ToString().PadLeft(4, '0');
                                                var mes = Model.Scheduling.Month.ToString().PadLeft(2, '0');
                                                var dia = Model.Scheduling.Day.ToString().PadLeft(2, '0');

                                                var hora = Model.Scheduling.Hour.ToString().PadLeft(2, '0');
                                                var minuto = Model.Scheduling.Minute.ToString().PadLeft(2, '0');
                                            }
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-danger w-100">
                                                    Cancel schedule<br />
                                                    @{@hora}h@{@minuto}min | @{@dia}/@{@mes}/@{@ano}
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
                <h3 class="text-center">Execute right now</h3>
                @{
                    int i = 0;
                    foreach (var command in Model.CommandManagerService.CommandList)
                    {
                        <form asp-page-handler="CommandSent" method="post" class="my-2">
                            <input type="hidden" name="command" value="@command.Name" />
                            <button class="btn btn-secondary btn-lg btn-block col-12 p-4 p-sm-2">@command.Name</button>
                        </form>
                        i++;
                    }
                }
                <hr />
                <h4>@Model.Result</h4>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>